<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    setTimeout(function(){
        var canv  = document.getElementById("example"),
            ctx   = canv.getContext("2d"),
            image = new Image();
        image.onload = function(){
            var w = 320;
            var h = 240;
            ctx.drawImage(image, 0, 0);
            ctx.beginPath();
            ctx.strokeStyle = "#0F0"
            ctx.font = "bold 30px sans-serif";

            ctx.moveTo(w / 5, 0);
            ctx.lineTo(w / 5, h);
            ctx.moveTo(w - w / 5, 0);
            ctx.lineTo(w - w / 5, h);
            ctx.strokeText("1", 23, 33)
            ctx.strokeText("13", 15, h - 13)

            ctx.moveTo(0, h / 5);
            ctx.lineTo(w, h / 5);
            ctx.moveTo(0, h - h / 5);
            ctx.lineTo(w, h - h / 5);
            ctx.strokeText("2", 23 + w / 5, 33)
            ctx.strokeText("12", 15 + w / 5, h - 13)


            ctx.moveTo(2 * w / 5, 0);
            ctx.lineTo(2 * w / 5, h / 5);
            ctx.moveTo(3 * w / 5, 0);
            ctx.lineTo(3 * w / 5, h / 5);
            ctx.strokeText("3", 23 + 2 * w / 5, 33)
            ctx.strokeText("11", 15 + 2 * w / 5, h - 13)

            ctx.moveTo(0, 2 * h / 5);
            ctx.lineTo(w / 5, 2 * h / 5);
            ctx.moveTo(0, 3 * h / 5);
            ctx.lineTo(w / 5, 3 * h / 5);
            ctx.strokeText("4", 23 + 3 * w / 5, 33)
            ctx.strokeText("10", 15 + 3 * w / 5, h - 13)

            ctx.moveTo(2 * w / 5, h - h / 5);
            ctx.lineTo(2 * w / 5, h);
            ctx.moveTo(3 * w / 5, h - h / 5);
            ctx.lineTo(3 * w / 5, h);
            ctx.strokeText("5", 23 + 4 * w / 5, 33)
            ctx.strokeText("9", 23 + 4 * w / 5, h - 13)

            ctx.moveTo(w - w / 5, 2 * h / 5);
            ctx.lineTo(w, 2 * h / 5);
            ctx.moveTo(w - w / 5, 3 * h / 5);
            ctx.lineTo(w, 3 * h / 5);
            ctx.strokeText("16", 15, 33 + h / 5)
            ctx.strokeText("6", 23 + 4 * w / 5, 33 + h / 5)
            ctx.strokeText("15", 15, 33 + 2 * h / 5)
            ctx.strokeText("7", 23 + 4 * w / 5, 33 + 2 * h / 5)
            ctx.strokeText("14", 15, 33 + 3 * h / 5)
            ctx.strokeText("8", 23 + 4 * w / 5, 33 + 3 * h / 5)

            ctx.strokeStyle = "#00FF00";
            ctx.stroke();
        }
        image.src = "{{ url_for('video_feed', picname = 'generalview') }}";
        setTimeout(arguments.callee, 50);
    }, 50)

    setTimeout(function(){
        var x = new XMLHttpRequest();
        x.open("GET", "lastplate", false);
        x.send(null);
        lab = document.getElementById("lab");
        str = x.responseText;
        lab.value = str.slice(str.length - 7, str.length - 1);
        setTimeout(arguments.callee, 500);
    }, 500)

    function checkForm(){
        for(i = 1; i < 17; i ++){
            droi = document.getElementById("droi" + i);
            lroi = document.getElementById("lroi" + i);
            if(droi.checked){
                if(lroi.checked){
                    alert("Incorrect configuration ROI" + i + " for drive and leave");
                    return false;
                };
            };
        };
        return true;
    };
    </script>
<center><h1>Drive Direction</h1></center>
<table cellspacing="50" align="center">
    <tr>
        <td>
            <p>
            <!-- <center><h2>General View with ROI</h2><img src="{{ url_for('video_feed', picname = 'generalviewwithroi') }}" width="320" height="240"></center> -->
            <canvas id="example" width="320" height="240">Update your browser</canvas>
            </p>
            <center><div>Last drive direction:
                        <p><input id="lab" size="12" value="Last drive direction"></p>
                    </div>
            </center>
        </td>
    <td>
        <p>
        <form onsubmit="return checkForm()" name="config" action="" method="post">
        <div id="contact-form">
            <center><h2>Configuration</h2></center>
            {{form.hidden_tag()}}
            Select ROI for driving:
            <table>
                <tr>
                    <td>{{form.roi1ForDrive}} ROI1</td>
                    <td>{{form.roi2ForDrive}} ROI2</td>
                    <td>{{form.roi3ForDrive}} ROI3</td>
                    <td>{{form.roi4ForDrive}} ROI4</td>
                    <td>{{form.roi5ForDrive}} ROI5</td>
                    <td>{{form.roi6ForDrive}} ROI6</td>
                    <td>{{form.roi7ForDrive}} ROI7</td>
                    <td>{{form.roi8ForDrive}} ROI8</td>
                </tr>
                <tr>
                    <td>{{form.roi9ForDrive}} ROI9</td>
                    <td>{{form.roi10ForDrive}} ROI10</td>
                    <td>{{form.roi11ForDrive}} ROI11</td>
                    <td>{{form.roi12ForDrive}} ROI12</td>
                    <td>{{form.roi13ForDrive}} ROI13</td>
                    <td>{{form.roi14ForDrive}} ROI14</td>
                    <td>{{form.roi15ForDrive}} ROI15</td>
                    <td>{{form.roi16ForDrive}} ROI16</td>
                </tr>
            </table>
            <br>
            Select ROI for leaving:
            <table>
                <tr>
                    <td>{{form.roi1ForLeave}} ROI1</td>
                    <td>{{form.roi2ForLeave}} ROI2</td>
                    <td>{{form.roi3ForLeave}} ROI3</td>
                    <td>{{form.roi4ForLeave}} ROI4</td>
                    <td>{{form.roi5ForLeave}} ROI5</td>
                    <td>{{form.roi6ForLeave}} ROI6</td>
                    <td>{{form.roi7ForLeave}} ROI7</td>
                    <td>{{form.roi8ForLeave}} ROI8</td>
                </tr>
                <tr>
                    <td>{{form.roi9ForLeave}} ROI9</td>
                    <td>{{form.roi10ForLeave}} ROI10</td>
                    <td>{{form.roi11ForLeave}} ROI11</td>
                    <td>{{form.roi12ForLeave}} ROI12</td>
                    <td>{{form.roi13ForLeave}} ROI13</td>
                    <td>{{form.roi14ForLeave}} ROI14</td>
                    <td>{{form.roi15ForLeave}} ROI15</td>
                    <td>{{form.roi16ForLeave}} ROI16</td>
                </tr>
            </table>
            <p><center><input type="submit" value="Configurate"></center></p>
        </div>
        </form>
    </p>
    </td>
</table>
</div>
{% endblock %}