{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    function reboot(){
        if (confirm("If you want to reboot press OK")){
            var x = new XMLHttpRequest();
            x.open("GET", "reboot", false);
            x.send(null);
        }
    }

    function update(){
        var x = new XMLHttpRequest();
        x.open("GET", "update", false);
        x.send(null);
        str = x.responseText;
        alert(str);
    }
</script>
<center><div><p><h3>{{msg}}</p></div></center>
<table cellspacing="26" align="center">
    <tr>
        <td>
            <div class="icon" data-title="UPDATE">
            <img src="{{ url_for('static', filename='update.png') }}"
                 onclick="update()"
                 alt=""
                 width="70" height="70"/>
            </div>
        </td>
        <td>
            <div class="icon" data-title="RESTART">
            <img src="{{ url_for('static', filename='reboot_1.png') }}"
                 onclick="reboot()"
                 alt=""
                 width="70" height="70"/>
            </div>
        </dt>
</table>
{% endblock %}
