{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    function reboot(){
        var x = new XMLHttpRequest();
        x.open("GET", "reboot", false);
        x.send(null);
    }

    function update(){
        var x = new XMLHttpRequest();
        x.open("GET", "update", false);
        x.send(null);
    }
</script>
<center><div><p><h3>{{msg}}</p></div></center>
<table cellspacing="25" align="center">
    <tr>
        <td>
            <div class="icon" data-title="UPDATE">
            <img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fmegaicons.net%2Fstatic%2Fimg%2Ficons_sizes%2F8%2F178%2F512%2Fupdates-downloading-updates-icon.png&f=1"
                 onclick="update()"
                 alt=""
                 width="75" height="75"/>
            </div>
        </td>
        <td>
            <div class="icon" data-title="RESTART">
            <img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fwindows-8-metro-style%2F512%2Favailable_updates.png&f=1"
                 onclick="reboot()"
                 alt=""
                 width="75" height="75"/>
            </div>
        </dt>
</table>
{% endblock %}