<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    setTimeout(function(){
        var x = new XMLHttpRequest();
        x.open("GET", "lastplate", false);
        x.send(null);
        lab = document.getElementById("lab");
        str = x.responseText;
        lab.value = str.slice(0, str.length - 7);
        setTimeout(arguments.callee, 500);
    }, 500)

    $(function() {
        $( "#slider" ).slider({
            min: -20,
            max: 20,
            step: 1,
            value: {{angle}},
            stop: function(event, ui){
                angle = document.getElementById("angle");
                angl = $( "#slider" ).slider("option", "value");
                angle.value = '' + angl;

                var x = new XMLHttpRequest();
                x.open("POST", "angle", false);
                x.send(angl);
            }
        });
    });
</script>

<center><h1>Plate Number Finder</h1>
<table cellspacing="10" align="center">
     <tr>
        <td>
            <center>
                <h2>Plate Number<h2>
            </center>
        </td>
        <td>
            <center>
                <h2>Threash<h2>
            </center>
        </td>
    </tr>
     <tr>
        <td>
            <center>
                <div id="slider"></div>
            </center>
        </td>
        <td>
            <input id="angle" size="3" value={{angle}}>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <img src="{{ url_for('video_feed', picname = 'platenumber') }}" width="320">
            </center>
        </td>
        <td>
            <center>
                <img src="{{ url_for('video_feed', picname = 'platenumberthreash') }}" width="320">
            </center>
        </td>
    </tr>
</table></center>
<center><div>Last plate number finded:
            <input id="lab" size="30" value="Here will be a finded plate number">
        </div>
</center>
{% endblock %}